
<div class="post">
	<p class="category">{{page.categories[0]}}</p>
	<h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
	<div class="date">{{ page.date | date_to_string }}</div>
	<div class="postContent">{{ content }}</div>
	<div class="ujian-hook"></div>
	{% capture post_categories %}
		{% if page.categories != empty %}
			{% assign category = page.categories[0] %}
			<a href="{{ site.category_dir }}{{ category}}" rel="category" >{{ category }}</a>
		{% endif %}
	{% endcapture %}
	{% capture post_tags %}
		{% if page.tags != empty %}
			| {{ page | tags }}
		{% endif %}
	{% endcapture %}
	{% if post_categories != "" || post_tags != "" %}
		<div class="postInfo">
			<div class="postTags">
				{{ post_categories }}  {{ post_tags }}
			</div>
			<div class="clear"></div>
		</div>
	{% endif %}
	{% assign post_categories = "" %}
	{% assign post_tags = "" %}
	{% include themes/Simple_Bold_Borders/commens.html %}
</div>
